@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap');

html,
body {
  min-width: 290px;
  color: #2a2a2c;
  background-color: #ffffff;
  font-family: 'Saira Semi Condensed', sans-serif;
  line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    
    
  }


  header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 2.0em;
    font-weight: bold;
  }

  #header-intro{
    text-shadow:   0.5px 0px #eee, 0px 0.5px rgb(255, 0, 0);
  }

  #header-syn{
    text-shadow:   0.5px 0px #eee, 0px 0.5px rgb(0, 255, 213);
  }

  #header-mod{
    text-shadow:   0.5px 0px #eee, 0px 0.5px rgb(51, 255, 0);
  }

  #header-spec{
    text-shadow:   0.5px 0px #eee, 0px 0.5px rgb(247, 0, 255);
  }

  #how-is-css{
    text-shadow:   0.5px 0px #eee, 0px 0.5px rgb(111, 0, 255);
  }

  #header-ref{
    text-shadow:   0.5px 0px #eee, 0px 0.5px rgb(255, 0, 85);
  }

 
  .css-styling{
    text-shadow:   1px 0px #eee, 0px 1px rgb(111, 0, 255);
    font-size: 3em;
  
  }

  #main-doc header {
    text-align: left;
    margin: 0px;
  }

  #navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  #navbar li {
    color: #2a2a2c;
    border-top: 2px solid;
    list-style: none;
    position: relative;
    width: 100%;
  }

  #navbar a {
    display: block;
    padding: 10px 30px;
    color: #2a2a2c;
    cursor: pointer;
    text-decoration: none;
  }

  #main-doc {
    position: relative;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
  
  }

  section article {
    color: #000000;
    margin: 15px;
    font-size: 1em;
  }

  section li {
    margin: 15px 0px 0px 20px;
  }

  code {
    display: block;
    text-align: left;
    position: relative;
    line-height: 2;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: scroll;
  }

  @media only screen and (max-width: 815px) {
  
    #navbar {
      background-color: white;
      position: absolute;
      width: 100%;
      max-height: 275px;
    }

    #navbar ul {
      border: 2px solid;
      height: 175px;
    }
  
    #main-doc {
      position: relative;
      margin-top: 270px;
      margin-left: 0px;
    }
  }

  @media only screen and (max-width: 400px) {
  
    #navbar {
      background-color: white;
      position: absolute;
      width: 100%;
      max-height: 275px;
    }

    #navbar ul {
      border: 2px solid;
      height: 175px;
    }
  
    #main-doc {
      position: relative;
      margin-top: 270px;
      margin-left: 0px;
    }
  }
 